<section class="contact-section">
  <div class="contact-left">
    <h2>
      Ouvert à de nouvelles <strong>opportunités</strong>.
    </h2>
  </div>

  <div class="contact-right">
    <p>
      <strong>Email : </strong>
      <span class="contact-info">salim.brahem.dev&#64;gmail.com</span>
    </p>
    <p>
      <strong>Téléphone : </strong>
      <span class="contact-info">+216 97 104 456</span>
    </p>

    <app-custom-button (click)="downloadCV()">Télécharger le CV</app-custom-button>
  </div>
</section>
