<section class="about-section">

    <div class="about-content">
        <!-- Colonne gauche : Informations personnelles -->
        <div class="personal-info">
            <h3 class="gradient-text">
                <img src="assets/icons/ampoule.png" alt="Ampoule"
                    style="width:30px; height:30px; vertical-align:middle; margin-right:8px;margin-top: -9px;">
                Informations personnelles
            </h3>
            <p><strong>Nom :</strong> Salim Brahem</p>
            <p><strong>Profil :</strong> Jeune ingénieur en génie logiciel (Bac+5)</p>
            <p><strong>Date de naissance :</strong> 15.01.2003</p>
            <p><strong>Ville :</strong> Ariana, Tunisie</p>
            <p><strong>Email : </strong> <a
                    href="mailto:salim.brahem.dev&#64;gmail.com">salim.brahem.dev&#64;gmail.com</a></p>
            <p><strong>Téléphone :</strong> +216 97 104 456</p>
        </div>

        <!-- Colonne droite : Présentation -->
        <div class="description">
            <h3>Bonjour, moi c’est Salim ! </h3>
            <p>
                <strong>Ingénieur en Génie Logiciel</strong>, diplômé avec mention Excellence, avec un profil polyvalent
                en <strong>développement Full-Stack, IA, Cloud & DevOps</strong>.
            </p>
            <p>
                Je suis encore au début de mon parcours professionnel, mais je suis <strong>curieux, autonome et
                    toujours motivé pour apprendre</strong>. J’aime travailler en équipe, partager mes idées et prendre
                des responsabilités lorsque j’en ai l’occasion.
            </p>
            <p>
                Ce portfolio est simplement un aperçu de <strong>ce que j’ai réalisé, de ce que j’ai appris et de ce
                    que j’aime construire</strong>.
            </p>
            <p class="closing-line">
                Take a look around, and feel free to get in touch.
            </p>
        </div>
    </div>
</section>
