<footer class="footer">
    <hr />

    <div class="footer-container">
        <!-- Navigation -->
        <div class="footer-col">
            <h3>Navigation</h3>
            <ul>
                <li><a href="#a-propos">À propos</a></li>
                <li><a href="#competences">Compétences</a></li>
                <li><a href="#experience">Expérience professionnelle</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#engagement">Engagement associatif</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#moments">Moments</a></li>
            </ul>
        </div>

        <!-- Informations -->
        <div class="footer-col">
            <h3>Informations</h3>
            <p><strong>Nom :</strong> Salim Brahem</p>
            <p><strong>Niveau d’études :</strong> Ingénieur en génie logiciel (Bac+5)</p>
            <p>
                <strong>Email :</strong>
                <a href="mailto:salim.brahem.dev&#64;gmail.com"> salim.brahem.dev&#64;gmail.com</a>
            </p>

            <p><strong>Téléphone :</strong> +216 97 104 456</p>
        </div>

        <!-- Liens -->

        <div class="footer-col third">
            <h3>Liens</h3>
            <div class="socials">


                <a href="https://www.linkedin.com/in/salim-brahem/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/linkedin.png" alt=""></a>
                <a href="https://github.com/salim-brahem" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/github.png" alt=""></a>
                <a href="https://www.behance.net/salimbrahem" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/behance.png" alt=""></a>
                <a href="https://www.facebook.com/salimbrahem11/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/facebook.png" alt=""></a>
            </div>
            <div class="cv">
                <a href="assets/docs/CV_Salim_Brahem.pdf" download="CV_Salim_Brahem.pdf" class="gradient-text">
                    <i><img src="assets/icons/download.png" alt="Download"></i> Télécharger le CV
                </a>
            </div>
        </div>
    </div>
</footer>
