<body>


<div id="header">

    <div id="socials">
    <a href="https://www.linkedin.com/in/salim-brahem/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/linkedin.png" alt=""></a>
                <a href="https://github.com/salim-brahem" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/github.png" alt=""></a>
                <a href="https://www.behance.net/salimbrahem" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/behance.png" alt=""></a>
                <a href="https://www.facebook.com/salimbrahem11/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/facebook.png" alt=""></a>
        </div>


<app-custom-button  (click)="downloadCV()">
  Télécharger le CV
</app-custom-button>
</div>



    <div class="intro">

        <div class="socials">
            <div style="width: 1.7px; height: 68px; margin-left: 14px;margin-bottom: 10px; background-color: var(--text-color);"></div>
  <a href="https://www.linkedin.com/in/salim-brahem/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/linkedin.png" alt=""></a>
                <a href="https://github.com/salim-brahem" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/github.png" alt=""></a>
                <a href="https://www.behance.net/salimbrahem" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/behance.png" alt=""></a>
                <a href="https://www.facebook.com/salimbrahem11/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/facebook.png" alt=""></a>
        </div>

        <div class="fullstack">
            <h1 class="gradient-text">FULLSTACK </h1>
            <h1>DEVELOPER</h1>

        </div>

    </div>




<div class="intro2">

    <img id="photo1" src="assets/photos/photo.png" alt="" >

<p>
  Jeune ingénieur en génie logiciel, diplômé avec mention Excellence, orienté
  <strong>full-stack, cloud & DevOps et IA</strong>.
  Au fil de mon parcours, j’ai développé des bases techniques solides et une posture humaine faite de curiosité,
  d’autonomie, d’esprit d’équipe et de sens des responsabilités.
</p>
<img  id="photo2" src="assets/photos/photo.png" alt="" >
</div>

</body>
