<body>
  <app-mouse-effect></app-mouse-effect>


  <div class="rand-container">




    <div id="socials">

     <a href="https://www.linkedin.com/in/salim-brahem/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/linkedin.png" alt=""></a>
                <a href="https://github.com/salim-brahem" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/github.png" alt=""></a>
                <a href="https://www.behance.net/salimbrahem" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/behance.png" alt=""></a>
                <a href="https://www.facebook.com/salimbrahem11/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/facebook.png" alt=""></a>
    </div>


   <!-- Checkbox pour toggle le menu mobile -->
<input type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><span></span></label>

<!-- Menu overlay pour mobile -->
<div id="overlay">
  <ul>
    <li><a href="#a-propos" (click)="closeOverlay()">À propos</a></li>
    <li><a href="#competences" (click)="closeOverlay()">Compétences</a></li>
    <li><a href="#experience" (click)="closeOverlay()">Expérience</a></li>
    <li><a href="#portfolio" (click)="closeOverlay()">Portfolio</a></li>
    <li><a href="#engagement" (click)="closeOverlay()">Engagement associatif</a></li>
    <li><a href="#contact" (click)="closeOverlay()">Contact</a></li>
    <li><a href="#moments" (click)="closeOverlay()">Moments</a></li>
  </ul>
</div>


    <nav>
      <div class="nav-links">
        <a href="#a-propos">À propos</a>
        <a href="#competences">Compétences</a>
        <a href="#experience">Expérience</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#engagement">Engagement associatif</a>
        <a href="#contact">Contact</a>
       <a href="#moments">Moments</a>

      </div>

<app-custom-button id="download-cv" (click)="downloadCV()">
  Télécharger CV
</app-custom-button>
    
    </nav>




  </div>



  <div class="rand-container">

    <app-home></app-home>
  </div>

  <app-boucle></app-boucle>


  <div class="rand-container">
    <app-section-name align="right">
      <span title>À propos</span>
      <span subtitle>À propos</span>
      <span subtitle1>À propos</span>

    </app-section-name>


  </div>


  <section id="a-propos" class="rand-container">

    <app-about></app-about>
  </section>


  <div class="rand-container">
    <app-section-name align="left">
      <span title>Compétences</span>
      <span subtitle>Compétences</span>
      <span subtitle1>Compétences</span>

    </app-section-name>


  </div>


  <section id="competences" class="rand-container">

    <app-skills></app-skills>

  </section>


   <div class="rand-container" >
<app-section-name align="right" >
   <span title>Expérience professionnelle</span>
  <span subtitle>Expérience professionnelle</span>
    <span subtitle1>Expérience professionnelle</span>

</app-section-name>


  </div>


  <section id="experience" class="rand-container">
<app-experience></app-experience>
  </section>



   <div class="rand-container" >
<app-section-name align="left" >
   <span title>Portfolio</span>
  <span subtitle>Portfolio</span>
    <span subtitle1>Portfolio</span>

</app-section-name>


  </div>

  <section id="portfolio" class="rand-container">
<app-portfolio></app-portfolio>
  </section>


   <div class="rand-container" >
<app-section-name align="right" >
   <span title>Engagement associatif</span>
  <span subtitle>Engagement associatif</span>
    <span subtitle1>Engagement associatif</span>

</app-section-name>
  </div>


  <section id="engagement" class="rand-container">
<app-engagement></app-engagement>
  </section>




    <div class="rand-container" >
<app-section-name align="left" >
   <span title>Contact</span>
  <span subtitle>Contact</span>
    <span subtitle1>Contact</span>

</app-section-name>
  </div>


  <section id="contact" class="rand-container">
<app-contact></app-contact>
  </section>






    <div class="rand-container" >
<app-section-name align="right" >
   <span title>Moments</span>
  <span subtitle>Moments</span>
    <span subtitle1>Moments</span>

</app-section-name>
  </div>




  
  <section id="moments" class="rand-container">
<app-gallery></app-gallery>
  </section>


<section class="rand-container">

<app-footer ></app-footer>

</section>










  <router-outlet></router-outlet>
</body>
