 <div class="skills-container">
    <!-- SECTION GAUCHE -->
  <div class="left-section desktop" *ngIf="activeSection === 'fullstack'" @fadeSlide>
      <div class="category">
        <h3>Langages :</h3>
        <div class="icons">
          <div><img src="assets/icons/java.png"><p>Java</p></div>
          <div><img src="assets/icons/python.png"><p>Python</p></div>
          <div><img src="assets/icons/js.png"><p>JavaScript</p></div>
          <div><img src="assets/icons/ts.png"><p>TypeScript</p></div>
          <div><img src="assets/icons/html.png"><p>HTML</p></div>
          <div><img src="assets/icons/css.png"><p>CSS</p></div>
          <div><img src="assets/icons/sql.png"><p>SQL / T-SQL</p></div>
        </div>
      </div>

      <div class="category">
        <h3>Frameworks :</h3>
        <div class="icons">
          <div><img src="assets/icons/angular.png"><p>Angular</p></div>
          <div><img src="assets/icons/spring.png"><p>Spring Boot</p></div>
          <div><img src="assets/icons/net.png"><p>.NET</p></div>
          <div><img src="assets/icons/python.png"><p>FastAPI</p></div>
        </div>
      </div>

      <div class="category">
        <h3>Bases de données :</h3>
        <div class="icons">
          <div><img src="assets/icons/postgresql.png"><p>PostgreSQL</p></div>
          <div><img src="assets/icons/mysql.png"><p>MySQL</p></div>
          <div><img src="assets/icons/mongodb.png"><p>MongoDB</p></div>
        </div>
      </div>
    </div>

  <div class="left-section desktop" *ngIf="activeSection === 'cloud'" @fadeSlide>
      <div class="category">
        <h3>Cloud :</h3>
        <div class="icons">
          <div><img src="assets/icons/aws.png"><p>AWS</p></div>
          <div><img src="assets/icons/Azure-Logo.png"><p>Azure</p></div>
        </div>
      </div>

      <div class="category">
        <h3>DevOps :</h3>
        <div class="icons">
          <div><img src="assets/icons/docker.png"><p>Docker</p></div>
          <div><img src="assets/icons/kubernetes.png"><p>Kubernetes</p></div>
          <div><img src="assets/icons/git-logo.png"><p>Git</p></div>
          <div><img src="assets/icons/jenkins-logo.png"><p>Jenkins</p></div>
          <div><img src="assets/icons/github actions.png"><p>GitHub Actions</p></div>
          <div><img src="assets/icons/docker.png"><p>Terraform</p></div>
        </div>
      </div>

      <div class="category">
        <h3>Monitoring & qualité :</h3>
        <div class="icons">
          <div><img src="assets/icons/powerBI.png"><p>Grafana</p></div>
          <div><img src="assets/icons/powerBI.png"><p>Prometheus</p></div>
          <div><img src="assets/icons/sonarqube-logo.png"><p>SonarQube</p></div>
        </div>
      </div>
    </div>

<div class="left-section desktop" *ngIf="activeSection === 'ai'" @fadeSlide>
<div class="category">
        <h3>IA :</h3>
        <div class="icons">
          <div><img src="assets/icons/LLM-logo.png"><p>Large Language Model (LLM)</p></div>
          <div><img src="assets/icons/RAG-logo.png"><p>Retrieval-Augmented Generation (RAG)</p></div>
          <div><img src="assets/icons/langchain-logo.png"><p>LangChain</p></div>
          <div><img src="assets/icons/NLP-logo.png"><p>Natural Language Processing (NLP)</p></div>
          <div><img src="assets/icons/ML-logo.png"><p>Machine Learning (ML)</p></div>
        </div>
      </div>

      <div class="category">
        <h3>Data :</h3>
        <div class="icons">
          <div><img src="assets/icons/postgresql.png"><p>PgVector</p></div>
          <div><img src="assets/icons/docker.png"><p>Kafka</p></div>
          <div><img src="assets/icons/powerBI.png"><p>Power BI</p></div>
        </div>
      </div>
    </div>

    <!-- SECTION DROITE -->
    <div class="right-section">
    <div class="card" (click)="setActive('fullstack')"
           [class.active]="activeSection === 'fullstack'">
  <div class="card-icon"><img src="assets/icons/front.png" alt="Fullstack"></div>
  <div>
    <h4>Fullstack</h4>
    <p>Angular / Spring Boot</p>
    <p>.NET / FastAPI</p>
  </div>
</div>

  <div class="left-section mobile"  *ngIf="activeSection === 'fullstack'" @fadeSlide>
      <div class="category">
        <h3>Langages :</h3>
        <div class="icons">
          <div><img src="assets/icons/java.png"><p>Java</p></div>
          <div><img src="assets/icons/python.png"><p>Python</p></div>
          <div><img src="assets/icons/js.png"><p>JavaScript</p></div>
          <div><img src="assets/icons/ts.png"><p>TypeScript</p></div>
          <div><img src="assets/icons/html.png"><p>HTML</p></div>
          <div><img src="assets/icons/css.png"><p>CSS</p></div>
          <div><img src="assets/icons/sql.png"><p>SQL / T-SQL</p></div>
        </div>
      </div>

      <div class="category">
        <h3>Frameworks :</h3>
        <div class="icons">
          <div><img src="assets/icons/angular.png"><p>Angular</p></div>
          <div><img src="assets/icons/spring.png"><p>Spring Boot</p></div>
          <div><img src="assets/icons/net.png"><p>.NET</p></div>
          <div><img src="assets/icons/python.png"><p>FastAPI</p></div>
        </div>
      </div>

      <div class="category">
        <h3>Bases de données :</h3>
        <div class="icons">
          <div><img src="assets/icons/postgresql.png"><p>PostgreSQL</p></div>
          <div><img src="assets/icons/mysql.png"><p>MySQL</p></div>
          <div><img src="assets/icons/mongodb.png"><p>MongoDB</p></div>
        </div>
      </div>
    </div>

<div class="card" (click)="setActive('cloud')"
       [class.active]="activeSection === 'cloud'">
  <div class="card-icon"><img src="assets/icons/devops.png" alt="Cloud et DevOps"></div>
  <div>
    <h4>Cloud & DevOps</h4>
    <p>AWS / Azure</p>
    <p>Docker / Kubernetes</p>
  </div>
</div>

  <div class="left-section mobile" *ngIf="activeSection === 'cloud'" @fadeSlide>
      <div class="category">
        <h3>Cloud :</h3>
        <div class="icons">
          <div><img src="assets/icons/aws.png"><p>AWS</p></div>
          <div><img src="assets/icons/Azure-Logo.png"><p>Azure</p></div>
        </div>
      </div>

      <div class="category">
        <h3>DevOps :</h3>
        <div class="icons">
          <div><img src="assets/icons/docker.png"><p>Docker</p></div>
          <div><img src="assets/icons/kubernetes.png"><p>Kubernetes</p></div>
          <div><img src="assets/icons/git-logo.png"><p>Git</p></div>
          <div><img src="assets/icons/jenkins-logo.png"><p>Jenkins</p></div>
          <div><img src="assets/icons/github actions.png"><p>GitHub Actions</p></div>
          <div><img src="assets/icons/docker.png"><p>Terraform</p></div>
        </div>
      </div>

      <div class="category">
        <h3>Monitoring & qualité :</h3>
        <div class="icons">
          <div><img src="assets/icons/powerBI.png"><p>Grafana</p></div>
          <div><img src="assets/icons/powerBI.png"><p>Prometheus</p></div>
          <div><img src="assets/icons/sonarqube-logo.png"><p>SonarQube</p></div>
        </div>
      </div>
    </div>

<div class="card" (click)="setActive('ai')"
       [class.active]="activeSection === 'ai'">
  <div class="card-icon"><img src="assets/icons/hand.png" alt="IA et Data"></div>
  <div>
    <h4>IA & Data</h4>
    <p>LLMs / RAG</p>
    <p>NLP / ML</p>
  </div>
</div>

<div class="left-section mobile" *ngIf="activeSection === 'ai'" @fadeSlide>
<div class="category">
        <h3>IA :</h3>
        <div class="icons">
          <div><img src="assets/icons/LLM-logo.png"><p>Large Language Model (LLM)</p></div>
          <div><img src="assets/icons/RAG-logo.png"><p>Retrieval-Augmented Generation (RAG)</p></div>
          <div><img src="assets/icons/langchain-logo.png"><p>LangChain</p></div>
          <div><img src="assets/icons/NLP-logo.png"><p>Natural Language Processing (NLP)</p></div>
          <div><img src="assets/icons/ML-logo.png"><p>Machine Learning (ML)</p></div>
        </div>
      </div>

      <div class="category">
        <h3>Data :</h3>
        <div class="icons">
          <div><img src="assets/icons/postgresql.png"><p>PgVector</p></div>
          <div><img src="assets/icons/docker.png"><p>Kafka</p></div>
          <div><img src="assets/icons/powerBI.png"><p>Power BI</p></div>
        </div>
      </div>
    </div>

    </div>
  </div>
