html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* optionnel mais pratique */
  background-color: var(--bg-color);
  cursor: none;
  overflow-x: hidden;
  
}

*, *::before, *::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'SS Falling';          
  src: url('/assets/fonts/ss-falling.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.gradient-text {
  background: var(--gradiant);
  -webkit-background-clip: text; /* clip le background au texte */
  -webkit-text-fill-color: transparent; /* rend le texte transparent pour voir le gradient */
  font-weight: bold;
    width: fit-content;

}
:root {
  --bg-color: #000;
  --text-color: #fff;
  --gradiant: linear-gradient(to right, #BFDCF8 10%, #FFF2AF 100%);
  --font-ssfalling: 'SS Falling', sans-serif;
  --font-body: 'Roboto', sans-serif;

}
