html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* optionnel mais pratique */
  background-color: var(--bg-color);
  cursor: none;
  min-width: 0;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  overflow-x: clip;
}

img,
iframe {
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'SS Falling';          
  src: url('/assets/fonts/ss-falling.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.gradient-text {
  background: var(--gradiant);
  -webkit-background-clip: text; /* clip le background au texte */
  -webkit-text-fill-color: transparent; /* rend le texte transparent pour voir le gradient */
  font-weight: bold;
  width: fit-content;
  max-width: 100%;

}
:root {
  --bg-color: #000;
  --text-color: #fff;
  --gradiant: linear-gradient(to right, #BFDCF8 10%, #FFF2AF 100%);
  --font-ssfalling: 'SS Falling', sans-serif;
  --font-body: 'Roboto', sans-serif;

}

@media (max-width: 768px) {
  html,
  body {
    cursor: auto;
  }
}
